html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}

#empty {	
  text-align: center;
  background-color: #FFF;
}
